Service References/RDService/RDService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="HTTP://WWW.PERCIVAL.CO.UK/ML7" elementFormDefault="qualified" targetNamespace="HTTP://WWW.PERCIVAL.CO.UK/ML7" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://jse-vm-pvl-2008/Train/RDService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RDService" />
  <xs:import schemaLocation="http://jse-vm-pvl-2008/Train/RDService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RD" />
  <xs:element name="Version">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="atype" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationSchema">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operationName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationSchemaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOperationSchemaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RDService" minOccurs="0" name="WebLoginResult" nillable="true" type="q1:ReturnInfo" />
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegardLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegardLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RDService" minOccurs="0" name="RegardLoginResult" nillable="true" type="q2:ReturnInfo" />
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DependLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientVersion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="participant" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DependLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RDService" minOccurs="0" name="DependLoginResult" nillable="true" type="q3:ReturnInfo" />
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RDService" minOccurs="0" name="LogoutResult" nillable="true" type="q4:ReturnInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginChangeWorkgroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="workgroupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginChangeWorkgroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RDService" minOccurs="0" name="LoginChangeWorkgroupResult" nillable="true" type="q5:ReturnInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataSetListZIP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="top" type="xs:int" />
        <xs:element minOccurs="0" name="where" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataSetListZIPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RDService" minOccurs="0" name="DataSetListZIPResult" nillable="true" type="q6:ReturnInfo" />
        <xs:element minOccurs="0" name="schema" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataSetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="top" type="xs:int" />
        <xs:element minOccurs="0" name="where" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataSetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RDService" minOccurs="0" name="DataSetListResult" nillable="true" type="q7:ReturnInfo" />
        <xs:element minOccurs="0" name="schema" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataSetUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="auditId" type="xs:int" />
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="batchId" type="xs:int" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="auditReference" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataSetUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/RDService" minOccurs="0" name="DataSetUpdateResult" nillable="true" type="q8:ReturnInfo" />
        <xs:element minOccurs="0" name="auditId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataSetUpdateZIP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="auditId" type="xs:int" />
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="batchId" type="xs:int" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="auditReference" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataSetUpdateZIPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/RDService" minOccurs="0" name="DataSetUpdateZIPResult" nillable="true" type="q9:ReturnInfo" />
        <xs:element minOccurs="0" name="auditId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataSetConfirm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="auditId" type="xs:int" />
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="auditReference" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataSetConfirmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/RDService" minOccurs="0" name="DataSetConfirmResult" nillable="true" type="q10:ReturnInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataSetReject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="auditId" type="xs:int" />
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="auditReference" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataSetRejectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/RDService" minOccurs="0" name="DataSetRejectResult" nillable="true" type="q11:ReturnInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOptions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/RD" minOccurs="0" name="GetOptionsResult" nillable="true" type="q12:ArrayOfQueryParams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DefineAuditReference">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DefineAuditReferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/RD" minOccurs="0" name="DefineAuditReferenceResult" nillable="true" type="q13:AuditReference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>