Service References/RDService/RDService52.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RDService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RDService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReturnInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorInfo" nillable="true" type="tns:ErrorInfo" />
      <xs:element minOccurs="0" name="HasError" type="xs:boolean" />
      <xs:element minOccurs="0" name="IDInfo" nillable="true" type="tns:ArrayOfIDInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnInfo" nillable="true" type="tns:ReturnInfo" />
  <xs:complexType name="ErrorInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorAltText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorID" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorInfo" nillable="true" type="tns:ErrorInfo" />
  <xs:complexType name="ArrayOfIDInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IDInfo" nillable="true" type="tns:IDInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIDInfo" nillable="true" type="tns:ArrayOfIDInfo" />
  <xs:complexType name="IDInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDValue" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IDInfo" nillable="true" type="tns:IDInfo" />
</xs:schema>