Backup/Service References/RDService/RDService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:i0="HTTP://WWW.PERCIVAL.CO.UK/ML7" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="RDService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="RDService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="HTTP://WWW.PERCIVAL.CO.UK/ML7" location="http://jse-vm-pvl-2008.jamstocklan.com/Train/RDService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="RDService" type="i0:IRDService">
    <wsp:PolicyReference URI="#RDService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Version">
      <soap12:operation soapAction="HTTP://WWW.PERCIVAL.CO.UK/ML7/IRDService/Version" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOperationSchema">
      <soap12:operation soapAction="HTTP://WWW.PERCIVAL.CO.UK/ML7/IRDService/GetOperationSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebLogin">
      <soap12:operation soapAction="HTTP://WWW.PERCIVAL.CO.UK/ML7/IRDService/WebLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegardLogin">
      <soap12:operation soapAction="HTTP://WWW.PERCIVAL.CO.UK/ML7/IRDService/RegardLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DependLogin">
      <soap12:operation soapAction="HTTP://WWW.PERCIVAL.CO.UK/ML7/IRDService/DependLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="HTTP://WWW.PERCIVAL.CO.UK/ML7/IRDService/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginChangeWorkgroup">
      <soap12:operation soapAction="HTTP://WWW.PERCIVAL.CO.UK/ML7/IRDService/LoginChangeWorkgroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataSetListZIP">
      <soap12:operation soapAction="HTTP://WWW.PERCIVAL.CO.UK/ML7/IRDService/DataSetListZIP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataSetList">
      <soap12:operation soapAction="HTTP://WWW.PERCIVAL.CO.UK/ML7/IRDService/DataSetList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataSetUpdate">
      <soap12:operation soapAction="HTTP://WWW.PERCIVAL.CO.UK/ML7/IRDService/DataSetUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataSetUpdateZIP">
      <soap12:operation soapAction="HTTP://WWW.PERCIVAL.CO.UK/ML7/IRDService/DataSetUpdateZIP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataSetConfirm">
      <soap12:operation soapAction="HTTP://WWW.PERCIVAL.CO.UK/ML7/IRDService/DataSetConfirm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataSetReject">
      <soap12:operation soapAction="HTTP://WWW.PERCIVAL.CO.UK/ML7/IRDService/DataSetReject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOptions">
      <soap12:operation soapAction="HTTP://WWW.PERCIVAL.CO.UK/ML7/IRDService/GetOptions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefineAuditReference">
      <soap12:operation soapAction="HTTP://WWW.PERCIVAL.CO.UK/ML7/IRDService/DefineAuditReference" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RDService">
    <wsdl:port name="RDService" binding="tns:RDService">
      <soap12:address location="http://jse-vm-pvl-2008.jamstocklan.com/Train/RDService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://jse-vm-pvl-2008.jamstocklan.com/Train/RDService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>